.searchQuery_Filters-categories {
    display: flex;
    grid-gap: 1.5em;
    flex-wrap: wrap;

    .sortMoviesBtn {
        border: none;
        padding: .75em;
        letter-spacing: .5px;
        background: $dsb;
        color: $fff;
        cursor: pointer;
    }

    .genresFilter {
        background: $dsb;
        border: none;
        padding-left: .5em;
        color: $fff;
        cursor: pointer;
    }

    .toWatchLater {
        background: $dsb;
        color: $fff;
        text-decoration: none;
        padding: 0 .5em;
        display: grid;
        place-items: center;
    }
}