.searchQuery_Filters-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .Filters-categories--pill {
        color: $fff;
        border-radius: 90px;
        border: none;
        background-color: $msb;
        padding: .5em;
        margin: .15em;
        width: 90px;
        cursor: pointer;
        transition: all 185ms ease-in-out;
    }
}

// mobile
.mobile-category_dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;

    .dropdown_toggle {
        margin: 2em;
        padding: .5em;
        background-color: $msb;
        border: none;
        border-radius: 45px;
        width: 50vw;
        cursor: pointer;
        color: $fff;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .dropdown_list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: none;
    }

    .Mobile-categories--pill {
        text-transform: uppercase;
        letter-spacing: .85px;
        color: $fff;
        border-radius: 90px;
        border: none;
        background-color: $msb;
        padding: .5em;
        margin: .15em;
        width: 32.5vw;
        cursor: pointer;
        transition: all 185ms ease-in-out;
    }
}