.movie-list {
    display: grid;

    .movie-list_info {
        display: flex;
        justify-content: space-between;
        border-bottom: 5px solid;

        .movie-details_title,
        .movie-details_director,
        .movie-details_date {
            margin: 0;
        }

        .movie-art {
            width: 100%;
            height: 100%;

            &_img {
                width: inherit;
                height: inherit;
            }
        }

        .movie-details {
            padding: .5em 0 .5em 1em;

            .movie-details_title {
                font-size: 1.85rem;
            }

            .movie-details_director {
                font-size: 1.25rem;
                margin: .35em 0;
            }

            .movie-details_date {
                font-size: 1rem
            }

            .movie-details_genres {
                padding: 0;
                margin: .5em 0;
                list-style: none;
                display: flex;
                grid-gap: .75em;

                &-item {
                    background-color: hsl(0, 0%, 71%);
                    padding: .35em;
                    border-radius: 5px;
                    color: $fff;
                }
            }

            .movie-details_synopsis {
                width: 50vw;
            }
        }
    }
}